.jumbotron
  %h1
    あなたの疑問に研究者が答えます！
  .row
    %img.col-md-3{:src => "http://1.bp.blogspot.com/-AF0mWnoqFb8/UiyKmpN93sI/AAAAAAAAAh4/nDwgthh_ByA/s1600/a233b14646170b536eae9832a8611eadf7d25ca91376284595.jpg"}/
    %blockquote.well.col-md-9
      %dl
        %dt Q:インターネット掲示板について一言お願いします
        %dd A:うそをうそであると見抜けない人でないと(掲示板を使うのは)難しい
  .responder-name
    情報工学 西村 博之
  %a.btn.btn-primary{:href => "#"} ひろゆきに質問してみる
.container
  %nav
    %a.btn.btn-default{:href => "#"} 詳しく知る
    = link_to "Facebookでログイン", user_omniauth_authorize_path(:facebook), class: 'btn btn-default'
    = link_to "Twitterでログイン", user_omniauth_authorize_path(:twitter), class: 'btn btn-default'
  .starter-template
    %h2 分野別の質問
    .row
      - Question.recent.limit(3).each do |q|
        = render 'question', question: q
