// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin arrow-box {
  position: relative;
  border: 1px solid;
  &:before, &:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
}

arrow-left {
  @include arrow-box;
  right: 100%;
}

arrow-right {
  @include arrow-box;
  left: 100%;
}

@mixin arrow-green {
  &:before{
      border-color: rgba(172, 245, 167, 0);
  border-right-color: #acf5a7;
  border-width: 31px;
  margin-top: -31px;

  }
  &:after{
  border-color: rgba(213, 213, 213, 0);
  border-right-color: #d5d5d5;
  border-width: 30px;
  margin-top: -30px;  
  }
}
.arrow_box:after {
  border-color: rgba(213, 213, 213, 0);
  border-right-color: #d5d5d5;
  border-width: 30px;
  margin-top: -30px;
}
.arrow_box:before {
  border-color: rgba(172, 245, 167, 0);
  border-right-color: #acf5a7;
  border-width: 31px;
  margin-top: -31px;
}